<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONNECT4</title>
    <style>
        .center-button-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="center-button-container">
        <button onclick="{{c4game}}" type="button">CONNECT4</button>
    </div>
    <div class="center-button-container">
        <button onclick="{{c4wiki}}" type="button">CONNECT4 WIKI</button>
    </div>
    <div class="center-button-container">
        <button onclick="{{chello}}" type="button">HELLO</button>
    </div>
</body>
</html>